*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
    font-family:'Open Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  
}

img {
    /* height: auto; */
    max-width: 100%;
}

h2 {
  color: hsl(210, 10%, 33%);
  opacity: .8;
  margin-bottom: 0.75rem;
  position: relative;
}

 h2 :hover::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background:hsl(210, 10%, 33%) ;
    transform: scaleX(0.5);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
    outline: 1px solid red;
}

h2 :hover::after {
    transform: scaleX(1);
} 


p {
 color: hsl(210, 10%, 33%);
 opacity: .4;
 line-height: 1.6;
 /* padding: 4rem; */
}

.section {
    text-align: center;
    padding: 1.5rem;
    
}

.big-header{
    font-size: 2.2rem;

}

.up {
    padding-top: 1rem;
}

.icon-up {
    padding-top: 1.7rem;
}

.top {
    padding-top: 4rem;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/* BTN */

.btn {
    width: 100%;
    padding: 1.5rem;
    border-radius: 2.5rem;
    border: none;
    color: #fff;
    font-size: 1.5rem;
}

.green-btn {
    background: hsl(171, 66%, 44%);
}

.blue-btn {
    background: hsl(233, 100%, 69%);
}

.header {
    background-image:url(./images/bg-header-mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11rem 0;
}

.section-1 {
    text-align: center;
    /* padding: 1.6rem; */


}

form  {
    padding-top: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    /* width: 100%; */
    
}

.article-1 {
    padding-top: 9rem;
 }

 /* 3 section */


.third-section {
    padding: 2rem;
}

.aside-left {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}




/* 4 section */

.forth-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


.icons {
    display: flex;
    flex-direction: column;
    gap:4rem;
    justify-content: center;
    /* padding-right: 15rem; */
}



.socials {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}


.footer {
    background-color: hsl(201, 58%, 95%);
}

.footer-logo img {
    width: 17%;

}

.size {
    width: 2rem;
}

.footer-logo img {
    width: 6rem;
    /* outline: 1px red solid; */
}

.list ul{
    list-style-type:none;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 2rem;

}

ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: hsl(210, 10%, 33%);
    opacity: .5;
    position: relative;


}

ul li  ::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background:hsl(210, 10%, 33%) ;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in-out;


}

ul li :hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.social-1 {
    display: flex;
    justify-content: center;
    gap: 4rem;
}


/* Desktop View */

@media (min-width:950px) {

    .header {
        background-image:url(./images/bg-header-desktop.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        /* height: 40vh; */
    }


    form {
        flex-direction: row;

    }
     
    .btn {
        width: 30%;
    }
.third-section{
   display: flex;
   gap: 3rem;
   
}
  
.third-img{
    width: 50%;
}

.aside-1{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: left; 
}


.icon {
    width: 100%;
    justify-content:center;
    align-items: center;
}


.icons {
    flex-direction: row;
}



.socials {
    flex-direction: row;
}



.footer-logo img {
    width: 30%;


}



.footer {
    display: flex;
    /* gap: 7rem; */
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    
}





ul li a{
    font-size: 1.2rem;
   
}

.socials-1 img {
    display: flex;
    justify-content: flex-start;
    
}


.list ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 65%;

}


   
}